# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Unit test / coverage reports
.coverage
.coverage.*
.pytest_cache/

# Environments
.env
.venv
env/
venv/

# IDE
.idea/

# Jupyter
.ipynb_checkpoints
*.ipynb

# OS
.DS_Store

# Notebooks, scripts (not part of the package)
notebooks/
scripts/
